body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

#main.portrait {
  background-image: url(static('pretix_cwa/poster_portrait.svg'));
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center top;

  .qr {
    flex: auto 1 1;
    position: relative;
    top: 9%;
    svg {
      height: 49%;
      max-width: 49%;
      width: auto;
    }
  }
  .head, .meta {
    display: none;
  }
}

#main.landscape {
  background-image: url(static('pretix_cwa/poster_landscape.svg'));
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center top;

  .qr {
    flex: auto 1 1;
    position: relative;
    top: 22%;
    left: -26%;
    svg {
      height: 55%;
      max-width: 55%;
      width: auto;
    }
  }
  .head, .meta {
    display: none;
  }
}

#main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;

  .qr {
    flex: auto 1 1;
    svg {
      height: 100%;
      max-width: 100%;
      width: auto;
    }
  }
  .head, .meta {
    flex: auto 0 0;
  }
  .head {
    padding: 4vh 2vw 2vh;
    h1 {
      font-size: 5vh;
      margin: 0
    }
  }
  .meta {
    font-size: 1.5vh;
    padding: 2vh 2vw 4vh;
    line-height: 1.5;
  }
}

@page {
    size: auto;   /* auto is the initial value */
    margin: 0 auto;  /* this affects the margin in the printer settings */
}